* {
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: #222;
  line-height: 1.5;
}
*::before,
*::after {
  box-sizing: inherit;
}

@keyframes colorChange {
  0% {
    background-color: #f1e9041c;
  }
  100% {
    background-color: #f15b041c;
  }
}

body {
  margin: 0;

  animation-name: colorChange;
  animation-duration: 10s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

.center {
  text-align: center;
}

.dagger {
  width: 2rem;
}

.site-header {
  font-size: 3rem;
  margin: 0 0 2rem;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  letter-spacing: 0.3rem;
}

.site-wrapper {
  width: 90%;
  margin: 0 auto 1rem;
  max-width: 35rem;
}

.about {
  margin-top: 10px;
  padding: 10px;
  border: 0.225rem solid #666;
  border-radius: 999em;
}

.about__section p {
  margin: 0.625rem 0;
}

.about__section .dagger {
  width: 2rem;
}

.about__header,
.online-presence__header,
.skill__header {
  letter-spacing: 0.3rem;
}

.online-presence {
  margin-bottom: 1rem;
}

.online-presence__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.online-presence__list-item {
  flex: 1 1 100%;
  border-bottom: 1px solid #0000001c;
  font-size: 1.6rem;
  padding: 1rem 1.5rem;
}

.online-presence__list-item a {
  text-decoration: none;
  display: flex;
  justify-content: space-between;
}

.skill {
  padding: 1.5rem 0;
  border-bottom: 0.325rem solid #333;
  border-radius: 1rem;
}

.skill__header {
  text-align: center;
  margin-bottom: 1.2rem;
}

.skill__header h1 {
  margin: 0;
}

.skill__list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
  font-size: 1.5rem;
  justify-content: center;
}

.skill__list-item {
  padding: 0.125rem 1.5rem;
  border: 1px solid;
  border-radius: 999rem;
  margin: 0.325rem;
}
