* {
  box-sizing: border-box;
  font-family: 'Fira Sans', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #333;
  line-height: 1.5;
}
*::before,
*::after {
  box-sizing: inherit;
}

.nav {
  font-size: 1.5rem;
}

.nav__list {
  margin: 0;
  padding: 0;
  list-style: none;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /* align-items: center; */
  /* justify-content: center; */
}

.nav__list-item {
  flex: 1 1 0;
  text-align: center;
  border: 1px solid;
  padding: 0.25rem;
}

.nav__list-item.logo {
  flex-basis: 100%;
}
